/* 隐藏广告背景*/
#custombg {
    display: none;
}

/* 修改主菜单*/
#mainmenu {
    margin: 0 0 0 0 !important;
}

.posterinfo img {
    display: none;
}

#fast_post_c {
    display: none !important;
}

/* 页脚隐藏*/
#b_nav {
    display: none;
}

/* 跳转页居中*/
#commonuiwindow {
    position: fixed !important;
    left: 35% !important;
    top: 35% !important;
}

/* 返回顶部*/
#returnTop {
    position: fixed;
    right: 1%;
    bottom: 2%;
    z-index: 9999;
}